<button>
  <a href="/newComponent">Go to new component</a>
</button>

<mat-card class="example-card">
  <img
    src="https://developer.accuweather.com/sites/default/files/{{
      weatherIcon
    }}-s.png"
    alt="weather icon"
  />
  <mat-card-content>
    <p>Temperature: {{ currentTemperature }}{{ currentTemperatureUnit }}</p>
    <p>{{ weatherText }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a href="{{ detailsLink }}" target="_blank">
      <button mat-button>Details</button>
    </a>
  </mat-card-actions>
</mat-card>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let day">{{ day.Date }}</td>
  </ng-container>

  <ng-container matColumnDef="low">
    <th mat-header-cell *matHeaderCellDef>Low</th>
    <td mat-cell *matCellDef="let day">
      {{ day.Temperature.Minimum.Value }} {{ day.Temperature.Minimum.Unit }}
    </td>
  </ng-container>

  <ng-container matColumnDef="high">
    <th mat-header-cell *matHeaderCellDef>High</th>
    <td mat-cell *matCellDef="let day">
      {{ day.Temperature.Maximum.Value }} {{ day.Temperature.Maximum.Unit }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
