<h3>Current Weather</h3>
<h4>Philadelphia, PA 19146</h4>
<mat-card class="example-card">
  <img
    src="https://developer.accuweather.com/sites/default/files/{{
      weatherIcon
    }}-s.png"
    alt="weather icon"
  />
  <mat-card-content>
    <p>Temperature: {{ currentTemperature }}{{ currentTemperatureUnit }}</p>
    <p>{{ weatherText }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a href="{{ detailsLink }}" target="_blank">
      <button mat-button>Details</button>
    </a>
  </mat-card-actions>
</mat-card>

<h3>5 Day Forecast</h3>
<mat-list>
  <mat-list-item *ngFor="let day of dailyForecasts">
    <p matLine>{{ day.Date }}</p>
    <p matLine>
      Low: {{ day.Temperature.Minimum.Value }}
      {{ day.Temperature.Minimum.Unit }}
    </p>
    <p matLine>
      High: {{ day.Temperature.Maximum.Value }}
      {{ day.Temperature.Maximum.Unit }}
    </p>
  </mat-list-item>
</mat-list>
